* {
  box-sizing: border-box;
}

body{
	background-color: white;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

header{
	background-color: white;
	position: relative;
	height: 180px;

}

nav{
	background-color: black;
	position: absolute;
	height: 40px;
	padding:10px;
	margin-top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 140px;
}

nav ul{
	position: absolute;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    left :450px;
}

nav ul li{
	display: inline-block;
	padding-right: 50px;
}

li a,.signUp a{
	text-decoration: none;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	
}

.signUp{
	position: absolute;
	right: 35px;
	top: 20px;
}

.signUp a {
	color: black;
	padding-left: 10px;
}

/*Icon made from CSS on https://cssicon.space by Wenting Zhang*/
.profile.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 15px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
  right : 180px;
  top:20px;
}

.profile.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
/*-------------------------------------------------------------*/


.logo{
	width: 10%;
	height: auto;
	position: absolute;
	left: 45%;

}

div.current{
	width: 150px;
	height: 100px;
	border: 1px solid black;
	display: inline-block;

}

footer{
	background-color: black;
	color : white;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	bottom: 0px;
	right: 0px;
    left: 0px;
}

.contacts{
	position: absolute;
	bottom: 15px;
	right: 120px;
	
}

.contacts .icon{
	position: absolute;
	width: 35px;
	height: auto;
	display: block;
	left :30px;
	bottom: 0px;
}

.contacts.instagram.icon{
	margin-left: 40px;
}

