*, footer>p {
  /* Chọn font Oswald từ Google Fonts */
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: white;
  /*	position: relative;*/
  height: 180px;
  margin-bottom: 2em;
}

nav {
  background-color: black;
}

nav ul {
  /* Di chuyển các phần tử trong thanh menu */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav ul li {
  /* Làm cho các phần tử trong menu ngang hàng */
  display: inline-block;
  /*Khoảng cách giữa các phần tử*/
  padding-right: 1em;
}

li a, .signUp a {
  text-decoration: none;
  color: white;
}

.signUp {
  position: absolute;
  right: 35px;
  top: 20px;
}

.signUp a {
  color: black;
  padding-left: 10px;
}

.logo {
  width: 10%;
  height: auto;
  /*position: absolute;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*	left: 45%;*/
}

.banner {
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.banner img {
  width: 100%;
  height: auto;
}

body {
  background-color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

/* h2, p, article>a {
  margin: 1em;
} */

.chonPhim select, .chonPhim label {
	margin-bottom: 1em;
  	width: 100%;
}

.modal-body input{
	padding: 0.4em;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.modal-body{
	padding: 1.5em;
}

.mua-ve{
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

.phim {
  /* Ô chứa phim */
  width: 100%;
  height: auto;
  padding: 1em;
}

.phim img:hover {
  filter: brightness(0.5);
  transition: 0.5s;
}

/* Button mua ve*/
.butt{
	display: none;
	position: absolute;
	left: 40%;
	top: 45%;
}

.img-thumbnail {
  height: 240px;
  width: auto;
  display: block;
}

.table{
  border-collapse:separate;
  border-spacing: 1em;
}

.table>tr>td{
  /* border : 1px solid grey; */
  height: 10px;
  width: 10px;
  /* padding: 0.5em; */
  /* margin: 0.5em; */
  /* display: inline-block; */
}

.table-sm td{
  padding: 0; 
}

.table>thead>tr>th{
  text-align: center;
  background-color: #dee2e6;
}

.ghe-CTC,.ghe-GDB{
  text-align: center;
}

.ghe-GDB{
  background-color: #ff6f69;
}

.ghe-vip{
  background-color: #ffcc5c;
}

.ghe-bt{
  background-color: #f9f9f9;
}

.ghe-sweet{
  background-color: #88d8b0;
}

.alert{
  text-align: center;
  margin: auto;
}

.ve{
  margin: auto;
}

.error-msg{
  margin: auto;
  text-align: center;
  display: none;
}

.info-box{
  position: sticky;
}

footer {
  background-color: black;
  color: white;
  position: relative;
  bottom: 0px;
  height: 80px;
}

footer .left {
  position: absolute;
  left: 20px;
  top: 10px;
}

footer .right {
  position: absolute;
  top: 10px;
  right: 40px;
}

.icons {
  width: auto;
  height: 2em;
  padding-right: 0.5em;
  padding-top: 0.2em;
}

@media only screen and (max-width: 600px) {
  footer .left {
    display: block;
    position: static;
    padding-left: 1em;
  }

  footer .right {
    display: block;
    position: static;
    padding-left: 1em;
  }
}
